 {{outlet}}

<button id="clear-completed" {{action "alertThis"}}>
  go go gadget button
</button>


{{author-display}}

{{#if hasCompleted}}
  <button id="clear-completed" {{action "clearCompleted"}}>
    Clear completed ({{completed}})
  </button>
{{/if}}
